.review {
    background-color: #ffaf4c;
    height: 300px;

    span {
        font-size: medium;

        strong {
            margin-left: 3px;
        }
    }

    p {
        margin-left: 3px;
    }
}