.header {
    background: #fe5604;
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0 0;
    position: relative;

    .logo {
        height: 80px;

        .logo-logo {
            height: 90px;
            cursor: pointer;
            position: absolute;
            left: 205px;
            top: 0px;
        }
    }

    .nav {


        ul {
            list-style-type: none;
            margin-right: 16px;

            li {
                float: left;
                border: 1px solid #924C31;
                background: #924C31;
                height: 20px;
                padding-top: 5px;
                margin-right: 3px;

                a {
                    text-decoration: none;
                    color: white;
                    padding: 20px 43px;
                }

                a:hover {
                    text-decoration: underline;
                }

            }
        }
    }

    .imgbanner {
        position: absolute;
        width: 100%;
        margin-top: 40px;

        .imgbanner-imgbanner {
            width: 100%;
            height: 315px;
        }
    }
}